<div *ngIf="loadingData">
    <div class="loadingData">
        <div class="dash one"></div>
        <div class="dash two"></div>
        <div class="dash three"></div>
        <div class="dash four"></div>
    </div>
    <h1 class="text-center dataIsLoading">Data is loading...</h1>
</div>


<div class="container mainContainer" *ngIf="!dataFromSearch; else searchedData">
    <div class="row heading-for-palettes" *ngIf="!loadingData && colors.length > 0">
        <h1>Exquisite and Inspiring Color Palettes of the Moment.</h1>
        <h2>Instantly access thousands of stunning color palettes with just one click.</h2>
    </div>


    <div class="row mainRow" *ngFor="let colorGroup of getFormattedColors(colors)"
        [ngClass]="searchedData ? 'topMargin' : 'noTopMargin'">
        <div id="main">
            <div class="col-3 colorColumn" *ngFor="let color of colorGroup" [style.backgroundColor]="color.code"
                (click)="copyColorCode(color.code)">
                <p>Click To Copy😊</p>
            </div>
        </div>
    </div>
</div>

<div class="row buttonRow" *ngIf="!hideLoadButton && !dataFromSearch && !loadingData && !hideLoadMoreButton">
    <button class="genericButton loadMore" (click)="loadColorData()">
        Load More
        <img class="loadMore" src="../../assets/homepage/load_more.png" alt="loadMore">
    </button>
</div>

<ng-template #searchedData>
    <div class="container" *ngIf="searchResults.length">
        <div class="row mainRow">
            <div class="col-3 colorColumn" [style.backgroundColor]="colorGroup.name"
                *ngFor="let colorGroup of searchResults">
                <div (click)="copyColorCode(colorGroup.name)">
                    <p>Click To Copy😊</p>
                </div>
            </div>
        </div>
    </div>

    <div class="noColorFound" *ngIf="searchResults.length <= 0">
        <img src="../../assets/logo/oops.png" alt="">
        <h1>No color match for your search.</h1>
    </div>
</ng-template>