.container {
  display: flex;
  flex-wrap: wrap;
}

.solid_container {
  margin-top: 100px;
}

.mainRow {
  padding: 20px;
  margin: 20px;
  background: #fff;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.gradientNAme > p {
  display: none;
}

.gradientNAme:hover p {
  display: unset;
  display: flex;
}

.colorColumn {
  color: #ffffff;
  font-weight: 500;
  justify-content: center;
  align-items: end;
  display: flex;
  /* height: 200px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  padding: 20px;
  border-radius: 6.76509px 6.76509px 6.76509px 6.76509px;
  margin: 15px; */
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#main div:hover {
  animation-name: shake;
  animation-duration: 0.1s;
  animation-iteration-count: 0.2s;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
}

@media only screen and (max-width: 600px) {
  .mainRow {
    margin: 15px auto !important;
    padding: 20px;
  }

  .dataIsLoading {
    font-size: 20px;
  }
}

.buttonRow {
  margin: 20px auto;
  justify-content: center;
}

.loadMore {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.loadMore {
  width: 132px !important;
  height: 40px;
}

.loadMore img {
  height: 25px !important;
  width: 25px !important;
}

.gradientContainer {
  margin-top: 100px;
}

.heading-for-palettes {
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.114286px;
  padding: 7.5px;
  color: #0d1117;
  margin: 40px 0 20px 0;
}

.heading-for-palettes h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.heading-for-palettes h2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #959595;
  font-family: "Noto Sans", sans-serif;
}
