.main {
  width: 100%;
  position: absolute;
}

.sidenav-list-open {
  width: 200px;
  transition: width 0.3s;
}

@media only screen and (min-width: 600px) {
  .display-area {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    transition: left 200ms ease-in, width 200ms ease-in;
    background-color: var(--body-color);
    height: 100vh;
  }

  .display-area-shrink {
    width: calc(100% - 200px);
    left: 200px;
    background-color: var(--body-color);
    height: 100vh;
  }

  app-sidenav {
    position: fixed;
    left: 0px;
    width: 60px;
    transition: width 0.3s;
    top: 65px;
    border-top: 1px solid white;
    height: calc(100vh - 65px);
    background: var(--sidebar-color);
    transition: width 300ms ease-in;
  }
}
