.side-nav-content {
  width: 140px;
  margin: 10px 10px 0 10px;
  position: fixed;
}

.nav-list {
  padding: 0;
  height: 100vh;
  margin-bottom: 0;
  list-style: none;
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 0 25px 0;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.nav-list-item:hover a {
  color: var(--sidebar-color);
}

.sidenavIcons {
  height: 25px;
  width: 25px;
  margin: 0 15px 0 10px;
  text-align: center;
  line-height: 25px;
}

.nav-list-item span {
  width: 100px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Poppins SemiBold", sans-serif !important;
}

.close,
.open {
  bottom: 65px;
  position: absolute;
}

.close {
  font-size: 12px;
}

.close img {
  height: 20px;
  width: 20px;
}

.nav-list-open {
  width: 200px;
}

.hideToggleButton {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .side-nav-content {
    display: none;
  }
}
