.side-nav-content {
  width: 180px;
  margin: 10px 10px 0 10px;
  position: fixed;
}

.nav-list {
  padding: 0;
  height: 100vh;
  margin-bottom: 0;
  list-style: none;
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 0 25px 0;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.sidenavIcons {
  height: 25px;
  width: 25px;
  margin: 0 15px 0 10px;
  text-align: center;
  line-height: 25px;
}

.nav-list-item span {
  width: 170px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.close,
.open {
  bottom: 65px;
  position: absolute;
}

.nav-list-open {
  width: 200px;
}

.hideToggleButton {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .side-nav-content {
    display: none;
  }
}
