<div class="container">
    <div class="row">
        <div class="col diffrentImages">
            <img src="../../assets/sidenavIcons/color-palette.png" alt="">
            <span>
                <button [routerLink]="'/add-color-palette'">Add Color Palette</button>
            </span>
        </div>
        <div class="col diffrentImages">
            <img src="../../assets/sidenavIcons/solid-colors.png" alt="">
            <span>
                <button>Add Solid Color</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col diffrentImages">
            <img src="../../assets/sidenavIcons/gradient.png" alt="">
            <span>
                <button>Add Gradient Color</button>
            </span>
        </div>
        <div class="col diffrentImages">
            <img src="../../assets/sidenavIcons/brand.png" alt="">
            <span>
                <button>Add Brand Color</button>
            </span>
        </div>
    </div>
</div>