
.colorColumn {
  color: #ffffff;
  font-weight: 500;
  justify-content: center;
  align-items: end;
  display: flex;
  height: 200px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  padding: 20px;
  border-radius: 6.76509px 6.76509px 6.76509px 6.76509px;
  margin: 15px;
}

#main div:hover {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: 0.5s;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
}

.mainRow {
  margin: 20px;
  background: #fff;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.colorColumn p {
  display: none;
}

.colorColumn:hover p {
  display: unset;
  transition: 0.3s;
  display: flex;
}

.buttonRow {
  margin: 0px auto 10px auto;
  background-color: var(--body-color);
  justify-content: center;
}

.loadMore {
  width: 132px !important;
  height: 40px;
  background-color: var(--primary-color);
}

.loadMore img {
  height: 25px !important;
  width: 25px !important;
}

@media only screen and (max-width: 600px) {
  .mainRow {
    margin: 15px auto !important;
    padding: 20px;
  }

  .dataIsLoading {
    font-size: 20px;
  }
}
