.container {
  display: flex;
  flex-wrap: wrap;
}

.solid_container {
  margin-top: 100px;
}

.heading-for-palettes {
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.114286px;
  padding: 7.5px;
  color: #404040;
  margin: 40px 0 20px 0;
}

.heading-for-palettes h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.heading-for-palettes h2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #959595;
  font-family: "Noto Sans", sans-serif;
}

.colorColumn {
  color: #ffffff;
  font-weight: 500;
  justify-content: center;
  align-items: end;
  display: flex;
  height: 200px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  padding: 20px;
  border-radius: 6.76509px 6.76509px 6.76509px 6.76509px;
  margin: 15px;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#main div:hover {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: 0.5s;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
}

.mainRow {
  margin: 20px;
  background: #fff;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(0, 0) rotate(0);
  }
}

.colorColumn p {
  display: none;
}

.colorColumn:hover p {
  display: unset;
  transition: 0.3s;
  display: flex;
}
.buttonRow .loadMore {
  margin: 0 auto !important;
  width: 132px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}

.loadMore_img {
  height: 25px;
  width: 25px;
  /* margin-left: 5px; */
}

@media only screen and (max-width: 600px) {
  .mainRow {
    margin: 15px auto !important;
    padding: 20px;
  }

  .dataIsLoading {
    font-size: 20px;
  }
}
